@font-face {
  font-family: "FiraCode";
  src: url(@/assets/font/FiraCode-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg:active,
svg:focus {
  outline: none;
}
/* 定义滚动条的宽度 */
::-webkit-scrollbar {
  width: 10px;
}
/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* 定义滚动条的样式 */
::-webkit-scrollbar-thumb {
  background: #00a98f;
}
/* 定义滚动条在悬停状态下的样式 */
